.heroSection {
  background-color: var(--pxpMainColorLight);
  padding-top: 160px;

  .hero {
    text-align: center !important;

    h1 {
      font-size: 76px;
      line-height: 84px;
      letter-spacing: -3px;
      font-weight: 700;

      span {
        color: #0969c3;
      }
    }
  }
  .heroImg {
    padding-top: 80px;
    width: 100%;
    height: auto;
    .heroImage {
      vertical-align: middle;
    }
  }
}
